body
{
background-color: #303030;
color: #ffffff;
font-family: 'Lato', sans-serif;
font-size: 20px;
}

#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header
{
  height: 135px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #202020 !important;
}

.header_side_bar
{
  height: 135px;
  width: 100px;
  float: left;
  background-color: #202020;
}

#logo
{
  line-height: 135px;
  height: 135px;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  width: 560px;
  background-color: #202020;
}

#slider
{
  height: 135px;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  background-color: #202020;
  width: 240px;
}

#nBar{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 102px;
}

.navigationBar
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content h2
{
  background-color: #202020 !important;
}

.tile1
{
  width: 146px;
  margin: 10px;
  height: 82px;
  background-color: #3095d3;
  float: left;
}

.tile1:hover
{
  background-color: #2084c2;
}

.footer
{
  text-align: center;
  width: 1000px;
  background-color: #202020;
  margin-top: 40px;
}

.footer a
{
  color: white;
}

.sticky
{
  position: fixed;
  left: auto;
  top: 0;
  z-index: 100;
}
